*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{
background:#000;
color:#fff;
}

header{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 10%;
background:#111;
position:sticky;
top:0;
}

.logo{
font-size:30px;
font-weight:bold;
color:red;
}

nav a{
color:#fff;
text-decoration:none;
margin-left:20px;
transition:.3s;
}

nav a:hover{
color:red;
}

.hero{
height:90vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;
}

.hero h1{
font-size:60px;
color:red;
}

.hero h2{
font-size:40px;
margin:10px 0;
}

.hero p{
margin:20px;
font-size:20px;
}

.btn{
background:red;
color:white;
padding:15px 35px;
text-decoration:none;
border-radius:5px;
font-weight:bold;
}

#products{
padding:60px 10%;
text-align:center;
}

.cards{
display:flex;
justify-content:center;
flex-wrap:wrap;
gap:30px;
margin-top:30px;
}

.card{
background:#111;
padding:20px;
border-radius:10px;
width:300px;
}

.card img{
width:100%;
border-radius:10px;
}

.card h3{
margin:15px 0;
}

.buy{
display:inline-block;
margin-top:15px;
background:red;
padding:12px 25px;
color:white;
text-decoration:none;
border-radius:5px;
}